<!DOCTYPE html>
<html>
  <head>
    <title>Diep.io Guides</title>
    <link rel = "stylesheet"
     type = "text/css"
     href = "diepiowebsite.css" />
    <style>%1</style>
  </head>
  <body>
     <ul>
       <li><a href="https://sushikuu7.github.io/diepio/guides.html">Back</a></li>
       <li><a href="https://discord.gg/t3hHRwn">Diep Colony</a></li>
       <li><a href="https://discord.gg/ceSvshA">Sun Knights</a></li>
       <li><a href="http://reddit.com/r/diepio">Reddit</a></li>
     </ul>
     <br/>
     <br/>
     <p>
       %2
     </p>
  </body>
</html>
